.env
node_modules/
.vscode/
.idea/

.DS_Store
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
dist/
build/
personal/book-tracker/database.sqlite3
personal/book-tracker/node_modules/
personal/book-tracker/.env
personal/book-tracker/.env.local
